@media only screen and (min-width: 320px) {
  body {
    background-color: lightblue;
  }

}

/* ========== for extra small device here  ============== */

/* ========== for medium device here  ============== */