@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
/* ========================== common css part start here ====================================== */
/* ========================== common css part end here ====================================== */
ul,ol{
    list-style: none;
}
body{
    background: rgb(183, 214, 183);
}
a{
    text-decoration: none;
    display: inline-block;
}

/* ========================== navbar css part start here ====================================== */
ul li a{
    transition: all linear .3s;
}
ul li a:hover{
    color: #FF9600 !important;

}

.menu_btn {
    padding: 20px 50px;
    background: #FF9600;
    border-radius: 10px;

}

.menu_btn a{
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    font-family: "IBM Plex Sans", sans-serif;

}

/* ========================== navbar css part end here ====================================== */
/* ========================== common css part start here ====================================== */
/* ========================== common css part end here ====================================== */
/* ========================== common css part start here ====================================== */
/* ========================== common css part end here ====================================== */
/* ========================== common css part start here ====================================== */
/* ========================== common css part end here ====================================== */
/* ========================== common css part start here ====================================== */
/* ========================== common css part end here ====================================== */
/* ========================== common css part start here ====================================== */
/* ========================== common css part end here ====================================== */
/* ========================== common css part start here ====================================== */
/* ========================== common css part end here ====================================== */
/* ========================== common css part start here ====================================== */
/* ========================== common css part end here ====================================== */
/* ========================== common css part start here ====================================== */
/* ========================== common css part end here ====================================== */
/* ========================== common css part start here ====================================== */
/* ========================== common css part end here ====================================== */
/* ========================== common css part start here ====================================== */
/* ========================== common css part end here ====================================== */
/* ========================== common css part start here ====================================== */
/* ========================== common css part end here ====================================== */
/* ========================== common css part start here ====================================== */
/* ========================== common css part end here ====================================== */
/* ========================== common css part start here ====================================== */
/* ========================== common css part end here ====================================== */
/* ========================== common css part start here ====================================== */
/* ========================== common css part end here ====================================== */
/* ========================== common css part start here ====================================== */
/* ========================== common css part end here ====================================== */
/* ========================== common css part start here ====================================== */
/* ========================== common css part end here ====================================== */
/* ========================== common css part start here ====================================== */
/* ========================== common css part end here ====================================== */
/* ========================== common css part start here ====================================== */
/* ========================== common css part end here ====================================== */
/* ========================== common css part start here ====================================== */
/* ========================== common css part end here ====================================== */
/* ========================== common css part start here ====================================== */
/* ========================== common css part end here ====================================== */
/* ========================== common css part start here ====================================== */
/* ========================== common css part end here ====================================== */
/* ========================== common css part start here ====================================== */
/* ========================== common css part end here ====================================== */
/* ========================== common css part start here ====================================== */
/* ========================== common css part end here ====================================== */
/* ========================== common css part start here ====================================== */
/* ========================== common css part end here ====================================== */